body {
  padding-top: 70px;
}

html {
  scroll-padding-top: 75px;
  /* height of sticky header */
}

:focus {
  outline-color: #670099;
}

/* p {
  margin-top: 0.5rem;
} */
/* @media (min-width: 768px){
  .navbar>.container {
    margin-left: 0px;
    margin-right: 0px;
  }
} */
.navbar>.container {
  padding-left: 15px;
  padding-right: 15px;
}

#nav {
  transition: top 0.3s;
}

@media (max-width: 767px) {
  #navbar {
    max-height: 400px;
    overflow-y: auto;
  }
}

.navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  .navbar-nav>li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/* .nav li {
  position: relative;
  display: block;
} */
.navbar-nav li.active {
  /* background-color: #3a0057; */
  font-weight: bold;
  color: #fff;
}

.navbar-banner-heading {
  background-color: #3a0057;
  padding: .5rem 1rem;
  color: white;
  letter-spacing: 0.1rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.navbar-banner-nav li.active {
  /* background-color: #3a0057; */
  font-weight: bold;
  /* color: #fff; */
}

.dropdown-header {
  font-weight: bold;
}

/* .dropdown-menu {
  background-color: #670099;
} */
.navbar-nav>li>a {
  position: relative;
}

ul.nav.navbar-nav>li>a {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-pills {
  margin-bottom: 10px;
}

.nav-pills>li:hover {
  background-color: #e9ecef;
}

.nav-link:hover {
  color: #fff;
  background-color: #670099;
}

.card-header {
  font-weight: bold;
}

.card {
  margin-bottom: 10px;
}

.bg-primary>a {
  color: #fff;
}

.control-label {
  font-weight: bold;
}

.table-condensed {
  font-size: 90%;
}

.-headerGroups {
  background: #ccc;
}

.rt-th-group {
  border-left: solid 1px #fff;
  text-align: left;
}

.rt-th-group:after {
  background-color: transparent !important;
}

.rt-th {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
  /* background-color: #dedede !important; */
  background-color: #670099 !important;
  color: #fff;
  /* padding: 6px 5px !important; */
  padding: 0px;
}

.rt-th:hover,
.rt-th[aria-sort="ascending"],
.rt-th[aria-sort="descending"] {
  /* background-color: #bbb !important; */
  background-color: #3a0057 !important;
}

.rt-th-group {
  white-space: nowrap;
}

.rt-th-group:hover {
  background-color: #670099 !important;
}

.rt-th-group-none:hover {
  background-color: #670099 !important;
}

.rt-td-filter {
  background-color: #f0f0f0 !important;
}

.rt-filter {
  border: 0px !important;
  border-radius: 0px !important;
  font-size: 80% !important;
}

.-header {
  /* background-color: #eee; */
  /* color: #333; */
  color: #fff;
  /* font-size: 90%; */
}

.rt-row {
  display: flex;
  align-items: baseline;
  /* display: inline-block; */
}

.bg-hide .rt-tbody .shaded {
  background-color: transparent !important;
}

.bg-hide .colour-hint {
  display: none;
}

/* .rt-tr-striped {
    background-color: #fff;
} */
.rt-tr-striped .sticky {
  background-color: rgb(246, 248, 250) !important;
}

.rt-tr-striped {
  background-color: rgb(246, 248, 250);
}

/* .rt-th .sticky {
    background-color: #dedede;
} */
.rt-tr.inactive {
  background-color: #ccc;
}

.rt-td.sticky {
  background-color: #fff;
}

.rt-td.sticky.inactive {
  background-color: #ccc;
}

.sticky {
  position: sticky !important;
  left: 0;
  z-index: 1;
}

.rt-expander-button {
  margin: 1px 2px !important;
}

.rating {
  border-radius: 12px;
  margin: 0 auto;
  width: 45px;
  /* height: 25px; */
  text-align: center;
}

.rank {
  border-radius: 12px;
  margin: 0 auto;
  width: 35px;
  /* height: 25px; */
  text-align: center;
}

.rank-small {
  text-align: center;
  vertical-align: middle;
  font-size: 75%;
  margin-left: 10px;
  color: #666;
  width: 25px !important;
  /* height: 20px !important; */
  /* border-radius: 50%; */
  border-radius: 10px;
  /* padding-top: 2%; */
}

.small-2 {
  vertical-align: middle;
  font-size: 75%;
  margin-left: 5px;
  color: #666;
}

/* .sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
} */
/* .sup {
  top: -0.5em;
} */
.fixed-width .checkbox-inline {
  margin-left: 0px !important;
  margin-right: 10px !important;
  width: 160px;
}

.covid .checkbox-inline {
  margin-left: 0px !important;
  margin-right: 10px !important;
}

/* .legendtoggle {
  width: 160px;
} */
/* Hide "Make a selection" button from leaflet map */
.easy-button-container {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  background-color: #670099;
}

.irs-bar {
  border-top: 1px solid #670099;
  border-bottom: 1px solid #670099;
  background-color: #670099;
}

.crosstalk-input-slider {
  margin-bottom: 0.5rem;
}

.twitter {
  fill: #fff;
}

.twitter:hover {
  fill: #d79ff5;
}

#summary-table td:first-child {
  width: 130px;
}

#results {
  max-height: 400px;
  overflow: auto;
  z-index: 3;
}

#results-table-div {
  overflow: auto;
}

.results-button {
  width: 80px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
}

.overlay-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  top: 100px;
  margin: auto;
}

#compare-tbl {
  width: auto;
}

#compare-tbl td,
#compare-tbl th {
  background-color: white;
}

#compare-tbl th:first-child,
#compare-tbl td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

#compare-tbl td,
#compare-tbl th {
  width: 200px;
}